%h1 Listing scenarios

%table
  %tr
    %th Name
    %th Users
    %th Nodes
    %th
    %th
    %th

  - @scenarios.each do |scenario|
    %tr
      %td= scenario.name
      %td= scenario.users
      %td= scenario.nodes
      %td= link_to 'Show', scenario
      %td= link_to 'Edit', edit_scenario_path(scenario)
      %td= link_to 'Destroy', scenario, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Scenario', new_scenario_path
